.page-editor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page-editor-toolbar {
    width: 100%;
    display: flex;
    flex: 0 0 70px;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
}

.page-editor-toolbar-widget-item {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    box-sizing: border-box;
}
.page-editor-toolbar-widget-item:hover {
    border: 1px solid #ccc;
}
.page-editor-toolbar-widget-item:active {
    background: #ddd;
}
.page-editor-toolbar-widget-item.active {
    background: #eee;
    border: 1px solid #ccc;
}
.iconfont {
    font-size: 19px;
}

.page-editor-center-container {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.page-editor-thumb {
    flex: 0 0 200px;
    background: aquamarine;
}

.page-editor-editor-container {
    display: flex;
    flex: 1;
    background: #f8f8f8;
    justify-content: center;
    padding-top: 50px;
    overflow: auto;
}
.page-editor-editor-container.selected-tool {
    cursor: crosshair;
}

.page-editor-editor-page {
    width: 380px;
    height: 675px;
    background: white;
}

.page-editor-attributes-panel {
    flex: 0 0 400px;
    background: cornflowerblue;
}
